
body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}

#card {
  background-color: #E9E6E6;
  width: 700px;
  color: white;
  font-weight: 100;
}

#title {
  margin: 10px 10px 40px 20px;
  border: 2px solid #178C55;
  background-color: #78F0B7;
  text-align: center;
  font-size: 30px;
  padding: 20px;
}

#content {
  padding: 5px 10px;
  background-color: #24CCDA;
  margin-bottom: 15px;
}